*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#dfe2ce;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.page{
    width:100%;
    max-width:700px;
    text-align:center;
}

.logo{
    width:180px;
    margin-bottom:20px;
}

h1{
    color:#244b3f;
    margin-bottom:10px;
}

.subtitle{
    margin-bottom:25px;
    color:#555;
}

input{

    width:320px;

    height:55px;

    border:none;

    border-radius:10px;

    padding:15px;

    font-size:18px;

    margin-bottom:30px;
}

.wheel-box{

    position:relative;

    width:500px;

    margin:auto;
}

.pointer{

    position:absolute;

    left:50%;

    top:-18px;

    transform:translateX(-50%);

    width:0;
    height:0;

    border-left:22px solid transparent;

    border-right:22px solid transparent;

    border-top:45px solid #d62828;

    z-index:999;
}

#spinBtn{

    margin-top:35px;

    width:300px;

    height:70px;

    border:none;

    border-radius:50px;

    background:#244b3f;

    color:white;

    font-size:28px;

    cursor:pointer;
}